@model LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Borsa Market</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/admin/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="~/HomePage/Index"><b>Borsa</b>Market</a>
        </div>
        <div class="card">

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="text-danger">@ViewBag.ErrorMessage</div>
            }

            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form asp-controller="AdminLogin" asp-action="AdminLogin" method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

                    <div class="input-group mb-3">
                        <input asp-for="Email" value="@Model.Email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                @*<span asp-validation-for="Email" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Password" value="@Model.Password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                @*<span asp-validation-for="Password" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left:80px">
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>
    <script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/dist/js/adminlte.min.js"></script>
</body>
</html>
