@model ContactListModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-md-12 mb-4 mt-3 ml-1">
    <h2 class="mb-4 ml-1">Help Messages</h2>

    <table id="tbl5" class="table table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th>Delete</th>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
                <th>Reply</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Contacts)
            {
                <tr>
                    <td width="100px"><a href="/Contact/Delete/@x.Id" class="text-danger" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to delete it?')"><strong>X</strong></a></td>
                    <td>@x.Name</td>
                    <td>@x.Email</td>
                    <td>@x.Message</td>
                    <td><a class="btn btn-info" href="mailto:@x.Email">Reply</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl5').dataTable({});
</script>