
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1 style="margin-left:115px;margin-top:50px">Success</h1>
<a href="/Order/GetOrders" style="margin-left:115px;margin-top:25px;margin-bottom:25px" class="btn btn-success">My Orders</a>

