<div class="brands">
    <div class="container">
        <h3>Categories</h3>
        <div class="brands-agile">
            <div class="col-md-2 w3layouts-brand">
                <div class="brands-w3l">
                    <p><a href="/products/fruit,%20vegetables">Fruit, Vegetables</a></p>
                </div>
            </div>
            <div class="col-md-2 w3layouts-brand">
                <div class="brands-w3l">
                    <p><a href="/products/meat,%20chicken,%20fish">Meat, Chicken, Fish</a></p>
                </div>
            </div>
            <div class="col-md-2 w3layouts-brand">
                <div class="brands-w3l">
                    <p><a href="/products/milk,%20breakfast">Milk, Breakfast</a></p>
                </div>
            </div>

            <div class="col-md-2 w3layouts-brand">
                <div class="brands-w3l">
                    <p><a href="/products/food,%20confectionery">Food, Confectionery</a></p>
                </div>
            </div>
            <div class="col-md-2 w3layouts-brand">
                <div class="brands-w3l">
                    <p><a href="/products/paper,%20cosmetics">Paper, Cosmetics</a></p>
                </div>
            </div>
            <div class="col-md-2 w3layouts-brand">
                <div class="brands-w3l">
                    <p><a href="/products/detergent,%20cleaning">Detergent, Cleaning</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
