<ul id="demo1">
    <li>
        <img src="~/home/images/11.jpg" alt="" />
        <div class="slide-desc">
            <h3>Access products easily with Borsa Market virtual market</h3>
        </div>
    </li>
    <li>
        <img src="~/home/images/22.jpg" alt="" />
        <div class="slide-desc">
            <h3>Find products at the best prices with Borsa Market</h3>
        </div>
    </li>
    <li>
        <img src="~/home/images/44.jpg" alt="" />
        <div class="slide-desc">
            <h3>You can follow the discounts by following us.</h3>
        </div>
    </li>
</ul>