
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <div class="about">
        <div class="container">
            <h3 class="w3_agile_header">About Us</h3>
            <div class="about-agileinfo w3layouts">
                <div class="col-md-12 about-wthree-grids grid-top">
                    <h4>Borsa Market</h4>
                    <p class="top">Borsa Market has been serving its customers in Yozgat Center since 2007. Borsa Market is one of Yozgat's most established markets.</p>
                    <p>
                        Borsa Market is customer focused,
                        It shows its difference in Yozgat with its reliable, technological, innovative and affordable prices. In 2021, it aims to offer all the products you can find in a market to its customers in a fast and safe way with the virtual market application. The purpose of our virtual market is to save time and provide convenience to our customers. The products you order from Borsa Market will be at your door during the day.
                    </p>
                    <p><strong>Address:</strong> Emniyet Caddesi Müze Karşısı Yozgat/Merkez</p>
                    <p><strong>Telephone:</strong> (+90) 539 899 55 45</p>
                    <p><strong>E-Mail:</strong> erkilicbedirhan@hotmail.com</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>