@model CustomerCardModel
@{
    ViewData["Title"] = "UpdateCard";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<!DOCTYPE html>
<html>
<body>
    <div class="about">
        <div class="container">
            <h3 class="w3_agile_header">Update card</h3>
            <div class="about-agileinfo w3layouts">
                <form asp-controller="Customer" asp-action="UpdateCard" method="post">
                    <input type="hidden" name="categoryId" value="@Model.Id" />
                    <div class="form-group row">
                        <label class="col-form-label col-md-2" style="margin-bottom:10px">Card Title</label>
                        <div class="col-md-10">
                            <input asp-for="CardTitle" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-2" style="margin-bottom:10px">Name on Credit Card</label>
                        <div class="col-md-10">
                            <input asp-for="CardName" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-2" style="margin-bottom:10px">Credit Cart Number</label>
                        <div class="col-md-10">
                            <input asp-for="CardNumber" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-2" style="margin-bottom:10px">Month</label>
                        <div class="col-md-10">
                            <input asp-for="ExpirationMonth" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-2" style="margin-bottom:10px">Year</label>
                        <div class="col-md-10">
                            <input asp-for="ExpirationYear" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-2" style="margin-bottom:10px">Cvv</label>
                        <div class="col-md-10">
                            <input asp-for="Cvv" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-10" style="margin-left:195px">
                            <button type="submit" value="Create" class="btn btn-primary" style="width:100px">Update</button>
                            <a asp-action="Card" asp-controller="Customer" class="btn btn-warning" value="Cancel" style="width:100px">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
