<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Borsa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/admin/plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="~/admin/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/admin/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/admin/plugins/summernote/summernote-bs4.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        @*Header*@
        <partial name="_AdminMheader" />

        @*Sidebar*@
        <partial name="_AdminMsidebar" />

        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    <div class="row ">
                        @RenderBody()
                    </div>
                </div>
            </section>
        </div>

        @*Footer*@
        <partial name="_Adminfooter" />

        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>
    <script src="~/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/plugins/chart.js/Chart.min.js"></script>
    <script src="~/admin/plugins/sparklines/sparkline.js"></script>
    <script src="~/admin/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/admin/plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/admin/plugins/moment/moment.min.js"></script>
    <script src="~/admin/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/admin/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/admin/dist/js/adminlte.js"></script>
    <script src="~/admin/dist/js/pages/dashboard.js"></script>
    <script src="~/admin/dist/js/demo.js"></script>  
    @RenderSection("Scrpts", false)
</body>
</html>
