<footer class="main-footer">
    <strong> 2021 &copy; Borsa Market</strong>
    <div class="float-right d-none d-sm-inline-block">
        <a>Developed by</a>
        &middot;
        <a href="https://www.bedirhanerkilic.com/">Bedirhan Erkılıç</a>
    </div>
</footer>