<div class="agileits_header">
    <div class="container">
        <div class="w3l_offers">
            <p>BORSA MARKET <a href="/HomePage/Index"> SHOP NOW</a></p>
        </div>
        <div style="margin-left:145px" class="agile-login">
            <ul style="margin-left:277px">
                <li><a href="/HomePage/Index"><i class="fas fa-home"></i></a></li>
                <li><a href="https://www.instagram.com/erkilicbedirhan/?hl=tr"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/people/Bedirhan-Erk%C4%B1l%C4%B1%C3%A7/100051665255398"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/bedirhan_erk"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
     
       
    </div>
</div>