<div class="logo_products">
    <div class="container">
        <div class="w3ls_logo_products_left1">
            <ul class="phone_email">
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : (+90) 539 899 55 45
                </li>
            </ul>
        </div>
        <div class="w3ls_logo_products_left">
            <h1><a href="/HomePage/Index">Borsa Market</a></h1>
        </div>

        <div class="w3l_search">
            <form action="/HomePage/SearchProduct" method="get">
                <input type="search" name="q" placeholder="Search for a Product..." required="">
                <button type="submit" class="btn btn-default search" aria-label="Left Align">
                    <i class="fa fa-search" aria-hidden="true"> </i>
                </button>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>