@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-md-12 mb-4 mt-3 ml-1">
    <h2 class="mb-4 ml-1">Users</h2>

    <table id="tbl4" class="table table-striped table-bordered mt-3">
        <thead>
            <tr>
                @*<th>Delete</th>*@
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    @*<td>
                        <form asp-action="Delete" method="post" asp-route-id="@x.Id">
                            <a style="color:red" onclick="return confirm('Are you sure you want to delete it?')"><strong>X</strong></a>
                        </form>
                    </td>*@
                    <td>@x.UserName</td>
                    <td>@x.Email</td>
                    <td>@x.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl4').dataTable({});
</script>